In [74]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd

In [66]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [67]:
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

In [68]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [48]:
#print(soup.prettify())

In [49]:
#results = soup.find_all('div', class_="content_title") 
#results_head = soup.find_all('div', class_="article_teaser_body")
#print(results)
#print(results_head)

In [69]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

Mars Now

In [70]:
news_head = soup.find('div', class_='article_teaser_body').text
print(news_head)

Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

In [71]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
#browser.visit(url2)

In [73]:
# get contents from url
content = requests.get(image_url).content
# get soup
soup = BeautifulSoup(content,'lxml') # choose lxml parser
# find the tag : <img ... >
featured_image_url = soup.findAll('img', src_="")
# print out image urls
base_url = "https://www.jpl.nasa.gov/"
for a in featured_image_url:
    print(f"{base_url} + a.get('src')")

https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')
https://www.jpl.nasa.gov/ + a.get('src')

In [76]:
facts_url = "https://space-facts.com/mars/"

In [77]:
tables = pd.read_html(facts_url)
len(tables)

3

In [79]:
print(type(tables))
print(type(tables[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [80]:
df =  tables[1]
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [81]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [82]:
df.to_html('table.html')

In [ ]:
browser.quit()